# Python
__pycache__/
*.py[cod]
*.db
*.pickle
.Python
venv/
.venv/

# Node
node_modules/
dist/
dist-ssr/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build
*.egg-info/
*.whl

# Test
.pytest_cache/
.coverage
htmlcov/

# Local files
.env
.env.local
deviations.db